@mixin font($ff: inherit, $fz: inherit, $fc: inherit, $fw: 300, $lh: 1.6) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fz;
    color: $fc;
    line-height: $lh;
}

@mixin tr($dur: .3s) {
    transition: all $dur linear;
}

@mixin hover() {
    @include tr;
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

@mixin posA($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin transform($delta_x: -50%, $delta_y: -50%) {
    transform: translate($delta_x, $delta_y);
}

@mixin full($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

@mixin flex($jc: center, $ali: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ali;
}