@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap');

$body-ff: Raleway, sans-serif;
$logo-ff: Pacifico, cursive;
$btn-ff : $body-ff;

$header-color-primary   : #ff6033;
$gallery-color-primary  : #5585a2;
$subscribe-color-primary: #96b92c;
$blog-color-primary     : #f72b3b;
$contact-color-primary  : #355b82;
$secondary-color        : #fff;
$light-gray             : #b9b9b9;
$middle-gray            : #9d9d9d;
$dark-gray              : #262626;

$body-color: $dark-gray;
$body-bg   : $secondary-color;
$section-bg: $light-gray;

$blue  : #70bfff;
$yellow: #ffe92f;
$violet: #b07cf7;

$service-bg: $blue;
$gallery-bg: $yellow;
$blog-bg   : $violet;

$input-bg: #00c4c4;
$marked  : #ff2b58;

$border-width      : 3px;
$border-width-btn  : 2px;
$border-width-input: 5px;






